// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

include "conf/input.kdl"
include "conf/output.kdl"
include "conf/startup.kdl"
include "conf/animation.kdl"
include "conf/layout.kdl"
include "conf/keybinds.kdl"
include "conf/windowrules.kdl"