* {
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font", sans-serif;
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 0;
}

window#waybar {
    background: rgba(25, 25, 25, 0.00); 
    color: #ffffff;
    border-radius: 12px;
}

#window {
    font-weight: bold;
    padding-left: 10px;
}

#custom-privacy-dots, #clock, #network, #bluetooth, #battery, #tray, #privacy {
    padding: 0 6px;
    margin: 4px 2px;
}

#custom-privacy-dots {
  letter-spacing: 3px;
}

#clock {
    font-weight: 600;
}

#tray {
    /* margin-right: 5px; */
}

#battery.charging {
    color: #34c759; /* macOS Green */
}

#battery.critical:not(.charging) {
    color: #ff3b30; /* macOS Red */
}

tooltip {
    background: rgba(40, 40, 40, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

tooltip label {
    color: #ffffff;
    padding: 8px;
}